{% extends 'tradebooks/base.html' %}
{% load staticfiles %} 

<html>

    <head>
        <title>About</title>
    </head>

     <body style="background-color:light blue;">
        <h1>This is the description page for our tradebooks website. For more information, visit our FAQ page or contact us through the contact page'</h1>
        <div>
          For many years we have seen the financial difficulties students face
          with obtaining new books while students done with their studies simply 
          discard their used books. Tradebooks allows for a marketplace, where 
          Uninversity of Glasgow students can easily sell there books to fellow 
          students in need. The free marketpace allows for enough competition to 
          have books at a low price. <br/>
            <strong>{{ boldmessage }}</strong>
        </div>

  </body>

</html>
