<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<!--

    Header and footer

    note:
    footer a bit wonky
    moved scripts up. not working for other files if below.
    added sign up/ login and profile button
    use is_authenticated instead of is_active
    changed generic "user" to username
    sign out still not working.


    todo:
    change color
    add collapsed navbar expand button
    create user.logged_in


    Author: Teoh Yee Hou (2471020t)
    Filename: base.html

-->
<head>
        <meta charset="UTF-8">
        <meta name="viewpoints" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="keywords" content="book, textbook, used, new, marketplace, university, glasgow" />
        <title>
            Tradebooks -
            {% block title_block %}
            {% endblock %}
        </title>
        <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/booklet-512.png">
        <link rel="stylesheet" href="base.css">
        <link rel="stylesheet"
              href="stylesheet.css"
              type="text/css"
              charset="utf-8" />
        <!--<link rel="stylesheet"-->
              <!--href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'css/all.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        <!--
            This is to enable other templates to add other css links., Stanislava
        -->


        {% block head %}

        {% endblock %}

        <!-- the footer css had a missing bracket, fixed it
        Stanislava-->

</head>
<body>
    <header>
        <!--&lt;!&ndash; logo should lead us back to index &ndash;&gt;-->
        <!--<a href="index.html">-->
            <!--<img class="logo"-->
                 <!--id="logo"-->
                 <!--src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/booklet-512.png"-->
                 <!--alt="tradebooks_logo">-->
        <!--</a>-->

        <!-- navbar -->

        <!-- fixed the logo link, now it leads to the index, Stanislava-->

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{% url 'tradebooks:index' %}">
                    <h1>
                        <img id="logo"
                             class="logo"
                             src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/booklet-512.png"
                             alt="tradebooks_logo">
                        Trade<span>Books</span>
                    </h1>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                <!--<div class="collapse navbar-collapse" id="navbarCollapse">-->
                    <!--<div class="container">-->
                    {% block header %}
                        <div class="row w-100">
                            <div class="col-md-1 col-xs-12">
                            </div>
                            <div class="col-md-9 col-xs-12">
                                <form class="form-inline"
                                      action="{% url 'tradebooks:search_result' %}"
                                      method="GET"
                                      value="{{ request.GET.search }}">
                                    <div class="form my-0">
                                        <input class="form-control ml-0"
                                               name="search"
                                               value="{{ request.GET.search }}"
                                               type="text"
                                               placeholder="Search..."
                                               aria-label="Search...">
                                        <button class="btn btn-rounded btn-sm my-0 ml-sm-2"
                                                type="submit"
                                                name="submit"
                                                value="Search">

                                            <i class="fa fa-search text-white ml-3"
                                               aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!--<div class="col-md-2 col-xs-12">-->
                                <!--<a class="nav_link" href="{% url 'tradebooks:search' %}">-->
                                    <!--Advanced Search-->
                                <!--</a>-->
                            <!--</div>-->
                    {% endblock %}
                            <div class = "col-md-2 col xs-12">
                            <!-- login button -->
                            <!-- this helps me update the login empty path page, Stanislava-->
                            {% block content %}
                                {% if user.is_authenticated %}
                                    <!-- show link to user page adn option to logout-->
                                    <div class="dropdown show">
                                        <a class="btn btn-secondary dropdown-toggle"
                                           role="button"
                                           id="userDropdown"
                                           data-toggle="dropdown"
                                           aria-haspoppup="true"
                                           aria-expanded="false"
                                           href="{% url 'tradebooks:user' %}">
                                            <img src="{{ MEDIA_URL }}{{ user.userprofile.picture }}"
                                                 class="img-responsive rounded-circle"
                                                 alt="{{user}} profile picture"
                                                 width="40"
                                                 height="40">
                                                My Profile
                                        </a>
                                        <div class="dropdown-menu"
                                             aria-labelledby="userDropdown">
                                            <a class="dropdown-item"
                                               href="{% url 'tradebooks:user' %}">
                                                {{ user.username }}
                                            </a>
                                            <!--please stop removing logout reference i made it to work i wrote views two days ago-->
                                            <!-- maybe not necessary -->
                                            <!--<a class="dropdown-item"-->
                                               <!--href="#">-->
                                                <!--Edit Profile-->
                                            <!--</a>-->
                                            <a class="dropdown-item"
                                               href="{% url 'tradebooks:logout' %}">
                                                Sign Out
                                            </a>
                                        </div>
                                    </div>
                                {% else %}
                                    <!-- should lead to login page -->
                                    <div class="dropdown show">
                                        <a class="btn btn-secondary dropdown-toggle"
                                           role="button"
                                           id="userDropdown"
                                           data-toggle="dropdown"
                                           aria-haspoppup="true"
                                           aria-expanded="false"
                                           href="#">
                                            Sign up or Login
                                        </a>
                                        <div class="dropdown-menu"
                                             aria-labelledby="userDropdown">
                                            <a class="dropdown-item"
                                               href="{% url 'tradebooks:register' %}">
                                                Sign Up
                                            </a>
                                            <a class="dropdown-item"
                                               href="{% url 'tradebooks:login' %}">
                                                Login
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endblock content %}
                            </div>
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </nav>



            <!-- add collapse button later -->

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-fill w-100">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tradebooks:index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tradebooks:books' %}">All Books/Listings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tradebooks:catalog' %}">Catalog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tradebooks:about' %}">About</a>
                        </li>
                        <!--<li class="nav-item">-->
                            <!--<div class="dropdown show">-->
                                <!--<a class="btn dropdown-toggle nav-link"-->
                                   <!--role="button"-->
                                   <!--id="categoryDropdown"-->
                                   <!--data-toggle="dropdown"-->
                                   <!--aria-haspoppup="true"-->
                                   <!--aria-expanded="false"-->
                                   <!--href="#">-->
                                    <!--Categories-->
                                <!--</a>-->
                                <!--&lt;!&ndash; currently these but will change to categories &ndash;&gt;-->
                                <!--<div class="dropdown-menu"-->
                                     <!--aria-labelledby="userDropdown">-->
                                    <!--<a class="dropdown-item"-->
                                       <!--href="{% url 'tradebooks:login' %}">-->
                                        <!--Sign Up-->
                                    <!--</a>-->
                                    <!--<a class="dropdown-item"-->
                                       <!--href="{% url 'tradebooks:login' %}">-->
                                        <!--Login-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="nav-item dropdown">-->
                            <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                                <!--Categories-->
                            <!--</a>-->
                            <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                                <!--<a class="dropdown-item" href="#">Action</a>-->
                                <!--<a class="dropdown-item" href="#">Another action</a>-->
                                <!--<div class="dropdown-divider"></div>-->
                                <!--<a class="dropdown-item" href="#">Something else here</a>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link disabled" href="#">Others</a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </nav>

    </header>

    <!-- in here I think it is better to leave it clean because we
    will all be adding divs and so on
    it is just important to have the space, Stanislava-->

    <!-- body -->
    {% block body_block %}
    <div>
    </div>
    {% endblock %}
    <!-- body -->



    <!-- footer -->

    <footer>
        <div class="container-fluid footerNav">
            <div class="row justify-content-center text-md-left text-xs-center">
                <div class="col-md-4 col-xs-12 text-center">
                    <h5> TRADEBOOKS </h5>
                    <ul>
                        <li><a href="{% url 'tradebooks:about' %}"> About us </a></li>
                        <!-- link to facebook -->
                        <li>
                            <a href="https://www.facebook.com/">
                                <img id="fbicon"
                                     class="icon"
                                     src="{% static 'icons/fbicon.ico' %}"
                                     alt="fb_icon" />
                                Facebook
                            </a>
                        </li>
                        <!-- link to twitter -->
                        <li>
                            <a href="https://twitter.com/">
                                <img id="twittericon"
                                     class="icon"
                                     src="{% static 'icons/twittericon.ico' %}"
                                     alt="tw_icon" />
                                Twitter
                            </a>
                        </li>
                        <!-- link to instagram -->
                        <li>
                            <a href="https://www.instagram.com/">
                                <img id="instaicon"
                                     class="icon"
                                     src="{% static 'icons/instaicon.ico' %}"
                                     alt="insta_icon" />
                                Instagram
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-12 text-center">
                    <h5> ENQUIRIES </h5>
                    <ul>
                        <li><a href="{% url 'tradebooks:help' %}"> Help </a></li>
                        <li><a href="{% url 'tradebooks:contactus' %}"> Contact Us</a></li>
                        <li><a href="{% url 'tradebooks:faq' %}"> FAQ </a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-12 text-center">
                    <h5>Tradebooks by University of Glasgow</h5>
                    <!--<ul>-->
                        <!--<li>-->
                            <!--<a href="#">-->
                                <p>
                                    Glasgow, G12 8QQ, Scotland<br/>
                                    Tel: +44 (0) 141 330 2000
                                </p>
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                </div>
            </div>
        </div>
    </footer>

<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--<script src="https://kit.fontawesome.com/dc496b7a4f.js" crossorigin="anonymous"></script>-->
<!-- downloaded to load faster -->
<script defer src="{% static 'js/all.js' %}"></script>
<!-- scripts -->
</body>
</html>
