<!DOCTYPE html>
<!-- all books/listings page

note:
listings reactivity is wonky, will overlap pic before snapping to small
view
added individual listings pics and links. added anchor
added paginator

todo:
optimize reqctivity.

Author: Teoh Yee Hou (2471020t)
Filename: books.html
-->
{% extends 'tradebooks/base.html' %}
{% load staticfiles %}

{% block title_block %}
    All Books
{% endblock %}

{% block body_block %}

<div class="container">

    <h4 class="display-4">All Books/Listings</h4>
    <hr/>
    <!-- pagination -->
    <div class="pagination">
        <span class="step-links">
            {% if listings.has_previous %}
                <a href="?page=1">
                    <i class="fas fa-angle-double-left"></i>
                </a>
                <a href="?page={{ listings.previous_page_number }}">
                    <i class="fas fa-angle-left"></i>
                </a>
            {% endif %}

            <span class="current">
                Page {{ listings.number }} of {{ listings.paginator.num_pages }}.
            </span>

            {% if listings.has_next %}
                <a href="?page={{ listings.next_page_number }}">
                    <i class="fas fa-angle-right"></i>
                </a>
                <a href="?page={{ listings.paginator.num_pages }}">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            {% endif %}
        </span>
    </div>

    <br/>
    {% if listings %}
        {% for listing in listings %}
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 px-2">
                    <a href="{% url 'tradebooks:product' listing.slug %}">
                        <img src="{{ MEDIA_URL}}{{ listing.book.bookImage }}"
                             alt="{{ listing.book }}"
                             class="img-responsive listing-img"/>
                        <!-- derp used reactive instead of responsive -->
                    </a>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 px-2">
                    <h3>
                        <a href="{% url 'tradebooks:product' listing.slug %}">
                            {{ listing.book }}
                        </a>
                    </h3>
                    <h4>Price: {{ listing.book.currency }} {{ listing.book.price }}</h4>
                    <h5>Seller: {{ listing.user }}</h5>
                    <p>
                        <b>Listing Info:</b> {{ listing.info }}<br/>
                        <b>Book Description:</b> {{ listing.book.bookDescription }}</p>
                </div>
            </div>
            <hr/>
        {% endfor %}
    {% endif %}

    <!-- pagination -->
    <div class="pagination">
        <span class="step-links">
            {% if listings.has_previous %}
                <a href="?page=1">
                    <i class="fas fa-angle-double-left"></i>
                </a>
                <a href="?page={{ listings.previous_page_number }}">
                    <i class="fas fa-angle-left"></i>
                </a>
            {% endif %}

            <span class="current">
                Page {{ listings.number }} of {{ listings.paginator.num_pages }}.
            </span>

            {% if listings.has_next %}
                <a href="?page={{ listings.next_page_number }}">
                    <i class="fas fa-angle-right"></i>
                </a>
                <a href="?page={{ listings.paginator.num_pages }}">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}