<!DOCTYPE html>
<!-- all books/listings page

note:
listings reactivity is wonky, will overlap pic before snapping to small
view

todo:
optimize reqctivity.
remove hardcoded pic.
add links to product page.
add anchor to img so it leads to the product page.

Author: Teoh Yee Hou (2471020t)
Filename: books.html
-->
{% extends 'tradebooks/base.html' %}
{% load staticfiles %}

{% block title_block %}
    All Books
{% endblock %}

{% block body_block %}

<div class="container">
    <h4 class="display-4">All Books/Listings</h4>
    <hr/>
    {% if listings %}
        {% for listing in listings %}
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12 px-2">
                    <img src="https://d2sofvawe08yqg.cloudfront.net/tangowithdjango2/hero2x?1580989954"
                         alt="Listing image"
                         class="img-reactive listing-img"/>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12 px-2">
                    <h3><a href="{% url 'tradebooks:product' listing.slug %}">{{ listing.book }}</a></h3>
                    <h5>Price: £{{ listing.price }}</h5>
                    <p>Info: {{ listing.info }}</p>
                </div>
            </div>
            <hr/>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}