<!DOCTYPE html>
<!-- Simple contact us page
Note:
Added crispy forms.
author: Teoh Yee Hou(2471020t)
-->
{% extends 'tradebooks/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block title_block %}
    Contact Us
{% endblock %}

{% block body_block %}

<div class="container">
    <h4 class="display-4">Contact Us</h4>
    <p>
        <b>University Of Glasgow</b>
        Glasgow, G12 8QQ, Scotland<br/>
        Tel: +44 (0) 141 330 2000
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary"
                type="submit"
                name="submit">
            Submit
        </button>
    </form>
</div>

{% endblock %}