<!DOCTYPE html>
<!-- an extremely simple about page
populate_tradebooks.py
note:
may need to find a way to have pic and description side by side
edit spelling errors
changed and added extra pictures.

todo:
edit font

Author: Teoh Yee Hou (2471020t)
Filename: about.html
-->
{% extends 'tradebooks/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Remove {{listing}}
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="row">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="fas fa-times-circle"></i>
                            </span>
                        </button>
                    </div>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% if request.user == lister %}
        <form method="POST" action="">
            {% csrf_token %}
            <h4 class="display-4">Remove Listing Confirmation:</h4>
            <h5 class="display-5">
                Are you sure you want to remove this listing?
            </h5>

            <hr/>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 px-2">
                    <a href="{% url 'tradebooks:product' listing.slug %}">
                        <img src="{{ MEDIA_URL}}{{ listing.book.bookImage }}"
                             alt="{{ listing.book }}"
                             class="img-responsive listing-img"/>
                        <!-- derp used reactive instead of responsive -->
                    </a>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 px-2">
                    <h3>
                        <a href="{% url 'tradebooks:product' listing.slug %}">
                            {{ listing.book }}
                        </a>
                    </h3>
                    <h4>Price: {{ listing.book.currency }} {{ listing.book.price }}</h4>
                    <h5>Seller: {{ listing.user }}</h5>
                    <p>
                        <b>Book ISBN:</b> {{ listing.book.bookISBN }}<br/>
                        <b>Book Author:</b> {{ listing.book.bookAuthor }}<br/>
                        <b>Course:</b> {{ listing.book.course }}<br/>
                        <b>Year:</b> {{ listing.book.year }}<br/>
                        <b>Listing Info:</b> {{ listing.info }}<br/>
                        <b>Book Description:</b> {{ listing.book.bookDescription }}<br/>
                    </p>

                </div>
            </div>

            <hr/>

            <div class="row">
                <p>
                    <b>
                        We keep a record of all books listed on our site as a reference
                        in the interest of helping other potential buyers. If you do not
                        want your book to still be on our site after removing your listing,
                        please select the option. Otherwise, you will have to contact an
                        admin to assist in the removal after removing your listing.
                    </b>
                </p>
            </div>

            <div class="row">


                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" name="deleteBook" id="deleteBook">
                    <label class="form-check-label" for="deleteBook">
                        Do you want to remove the book from our catalog as well?
                    </label>
                </div>
            </div>

            <hr/>

            <div class="row">
                <p>
                    Have you confirmed that you want to delete this listing?<br/>
                    <b>You cannot undo this action</b>
                </p>
            </div>

            <div class="row">
                <div class="mr-1">
                    <button type="submit"
                            value="Yes"
                            class="btn btn-primary">
                        Yes
                    </button>
                </div>

                <a href="{% url 'tradebooks:user' %}"
                   class="btn btn-primary">
                    Cancel
                </a>

            </div>
        </form>
    {% else %}
        <h4 class="display-4">You cannot delete this listing</h4>
    {% endif %}
</div>
{% endblock %}