<!--
    Edit Template 
    Author: Stanislava Dyakova
    StudentID:2390717D
-->
{% extends 'tradebooks/base.html' %}
{% load staticfiles %}
{% load static %}
{% block title_block %}
    Edit
{% endblock %}

{% block body_block%}
{% block header %}

{% endblock %}
{% block content %}
{% endblock %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}