<!DOCTYPE html>
<!-- an extremely simple faq page

note:
extremely barebone will change to accordion style if we have the time

todo:
edit font
add collapsible accordion style faq page.

Author: Teoh Yee Hou (2471020t)
Filename: user.html
-->
{% extends 'tradebooks/base.html' %}
{% load staticfiles %}

{% block title_block %}
    FAQ
{% endblock %}

{% block body_block %}

<div class="container">
    <div class="row">
        <h5 class="display-5">Some question?</h5>
    </div>
    <div class="row">
        <p class="lead">answer to your question</p>
        <br/>
    </div>
    <hr/>
        <div class="row">
        <h5 class="display-5">Some question?</h5>
    </div>
    <div class="row">
        <p class="lead">answer to your question</p>
        <br/>
    </div>
</div>


{% endblock %}