<!DOCTYPE html>
<!-- Simple help page

author: Teoh Yee Hou(2471020t)
-->
{% extends 'tradebooks/base.html' %}
{% load staticfiles %}

{% block title_block %}
    help
{% endblock %}

{% block body_block %}

<div class="container">
    <h4 class="display-4">Need Help?</h4>

    <div class="row">
        <h5 class="display-5">How to add listing?</h5>
    </div>
    <div class="row">
        <p class="lead">answer to your question</p>
        <br/>
    </div>
    <hr/>
        <div class="row">
        <h5 class="display-5">How to uninstall system32?</h5>
    </div>
    <div class="row">
        <p class="lead">answer to your question</p>
        <br/>
    </div>
</div>

{% endblock %}