{% extends 'tradebooks/base.html' %}
{% load staticfiles %}
{% load static %}
<!--

    Login Template

    Note:
    Teoh's edit- added an overlay for aesthetic purposes.
    (teoh) slight formatting edit.

    todo:
    create a separate css for style.

    Author: Stanislava Dyakova
    StudentID:2390717D
-->
<!--
    This is where the login template will inherit the additional css
-->

{% block head %}
    <!-- Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

    <style>
    body {font-family: Arial, Helvetica, sans-serif;
        background-image: url('https://c4.wallpaperflare.com/wallpaper/967/43/677/monuments-university-of-glasgow-wallpaper-preview.jpg');
          background-repeat: no-repeat;
          background-size:cover;
          position:relative;
          margin: 0px;}

    /* Full-width input fields */
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    /* Set a style for all buttons */
    button {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }

    button:hover {
      opacity: 0.8;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }

    /* Center the image and position the close button */
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      position: relative;
    }

    img.avatar {
      width: 40%;
      border-radius: 50%;
    }

    .container {
      padding: 16px;
    }

    span.psw {
      float: right;
      padding-top: 16px;
    }

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      padding-top: 60px;
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button (x) */
    .close {
      position: absolute;
      right: 25px;
      top: 0;
      color: #000;
      font-size: 35px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: red;
      cursor: pointer;
    }

    /* Add Zoom Animation */
    .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
      from {-webkit-transform: scale(0)}
      to {-webkit-transform: scale(1)}
    }

    @keyframes animatezoom {
      from {transform: scale(0)}
      to {transform: scale(1)}
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
      span.psw {
         display: block;
         float: none;
      }
      .cancelbtn {
         width: 100%;
      }
    }
        /* body {
          background-image: url('https://c4.wallpaperflare.com/wallpaper/967/43/677/monuments-university-of-glasgow-wallpaper-preview.jpg');
          background-repeat: no-repeat;
          background-size:cover;
          position:relative;
          margin: 0px;
        } */

    /* add overlay*/
    /* needa fix the part where it isnt covered */
    .overlay {
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        left: 0;
        /*top: 0;*/
        background: rgba(0, 0, 0, 0.5);

    }
    </style>
{% endblock %}

{% block title_block %}
    Login
{% endblock %}


{% block body_block %}
    {% block header %}
    {% endblock %}

    {% block content %}
    <!-- i dont really get the use of this as this is already checked in
      base.html -->
        {% if user.logged_in %}
        <!-- show link to user page adn option to logout-->
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle"
            role="button"
            id="userDropdown"
            data-toggle="dropdown"
            aria-haspoppup="true"
            aria-expanded="false"
            href="{% url 'tradebooks:user' %}">
                My Profile
            </a>
            <div class="dropdown-menu"
                aria-labelledby="userDropdown">
                <a class="dropdown-item"
                href="{% url 'tradebooks:user' %}">
                    user
                </a>
                <a class="dropdown-item"
                href="#">
                    Sign Out
                </a>
            </div>
        </div>
        {% endif %}
    {% endblock %}

    <h2></h2>

    <div class="section">
      <div class="overlay">
        <div class="wrapper">
        <!-- <font color="white"><b>Have </b></font> -->
        <!-- <h3 role='textbox' aria-multiline='true'><b>Have <span>a Profile?</b></span></h3>  -->
        <p style="display: inline;"><font style="color:rgb(24, 84, 175)" size="10"><b>Have <span>a Profile?</span></b></font></p>
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
        <p style="display: inline;"><font style="color:rgb(24, 84, 175)" size="10"><br/><b>Or <span>not?</span></b></font></p>
        <button id="myButton" class="button" >Sign up</button>
        </div>
      </div>
    </div>

    <!-- rmb to change links to relative ie. {%url type., Teoh. changed it.-->
    <script type="text/javascript">
        document.getElementById("myButton").onclick = function () {
            location.href = "{% url 'tradebooks:register' %}";
        };
    </script>
    <div id="id01" class="modal">

        <form class="modal-content animate"
            id="login_form"
            method="post"
            action="{% url 'tradebooks:login' %}"
            enctype="multipart/form-data">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'"
                      class="close"
                      title="Close Modal">&times;</span>
                <img src="{% static 'images/Profile.jpg' %}" height="350" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                {% csrf_token %}
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button"
                        onclick="document.getElementById('id01').style.display='none'"
                        class="cancelbtn">
                    Cancel
                </button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
{% endblock %}
