<!DOCTYPE html>

<!--

    Product page

    note:
    will get the color right later
    added purchase button
    purchase for logged in users only

    individual books page right now. need to change population script to try
    out pictures using books object.

    todo:
    change color
    remove hardcoded pic
    custom css


    Author: Teoh Yee Hou (2471020t)
    Filename: product.html
-->

<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewpoints" content="width=device-width, initial-scale=1.0" />-->
    <!--<meta name="keywords" content="book, textbook, used, new, marketplace, university, glasgow" />-->
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <!--<title>Product</title>-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
        <!--integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">-->
<!--</head>-->

<!--<body>-->

{% extends 'tradebooks/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Product: {{ listing.book }}
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row" style="margin-top:2em">
            <!-- image -->
            <div class="col-md-4 col-xs-12" style="margin-top:2em">
                <img src="{{ MEDIA_URL}}{{ listing.book.bookImage }}"
                     alt="{{ listing.book }}"
                     class="img-responsive listing-img">
            </div>
            <!-- user details and book details -->
            <div class="col-md-4 col-xs-12" style="margin-top:2em">

                <p class="lead"><img src="{{ MEDIA_URL }}{{ listing.user.user.userprofile.picture }}"
                                       alg="profilePic"
                                       class="rounded-circle"
                                       width="40"
                                       height="40"> {{ listing.user }} </p>


                <br/>
                <p class="lead"> {{ listing.book }} </p>
                <p> Price: {{ listing.book.currency }} {{ listing.book.price }} </p>
            </div>
            <!-- contact seller -->

            {% if user.is_authenticated %}
                {% if request.user == listing.user.user %}
                    <div class="col-md-4 col-xs-12" style="margin-top:2em">
                        <a href="{% url 'tradebooks:delete_listing' listing.slug %}"
                           target="_top"
                           class="btn btn-primary">
                            Delete this listing.
                        </a>
                    </div>
                {% else %}
                    <div class="col-md-4 col-xs-12" style="margin-top:2em">
                         <a href="mailto:{{ listing.user.user.email }}?subject=Interested%20in%20your%20book&body=Hi%2C%20I%20am%20interested%20in%20your%20book%20on%20Tradebooks%0D%0A%0D%0ABook%20Name%3A%0D%0ABook%20ISBN%3A%0D%0ABook%20Author%3A%0D%0A%0D%0A%0D%0A"
                            target="_top"
                            class="btn btn-primary">
                             Contact Seller
                         </a>
                        <a href="{% url 'tradebooks:external' %}"
                            target="_top"
                            class="btn btn-primary">
                             Purchase This!
                         </a>
                    </div>
                {% endif %}
            {% else %}
            <div class="col-md-4 col-xs-12" style="margin-top:2em">
                <h5 class="display-5">Please log in to contact or purchase.</h5>
            </div>
            {% endif %}
        </div>
        <div class="row" style="margin-top:2em">
            <div class="col">
                <h2 class="display-2">Info <br/></h2>
                <hr/>
                <h5 class="display-5">Seller's Description</h5>
                <hr/>
                <p>
                    {{ listing.info }} <br/>
                </p>
                <h5 class="display-5">Book Info</h5>
                <hr/>
                <p>

                    <b>Book Name:</b> {{ listing.book.bookName }}<br/>
                    <b>Book ISBN:</b> {{ listing.book.bookISBN }}<br/>
                    <b>Book Author:</b> {{ listing.book.bookAuthor }}<br/>
                    <b>Course:</b> {{ listing.book.course }}<br/>
                    <b>Year:</b> {{ listing.book.year }}<br/>
                    <b>Book Description:</b> {{ listing.book.bookDescription }}



                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do-->
                    <!--eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut-->
                    <!--enim ad minim veniam, quis nostrud exercitation ullamco laboris-->
                    <!--nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor-->
                    <!--in reprehenderit in voluptate velit esse cillum dolore eu fugiat-->
                    <!--nulla pariatur. Excepteur sint occaecat cupidatat non proident,-->
                    <!--sunt in culpa qui officia deserunt mollit anim id est laborum.-->
                </p>
            </div>
        </div>
    </div>
{% endblock %}
<!--</body>-->
<!--</html>-->
